extends ../../../main

mixin item (text,active,itemCls)
    -var cls=itemCls || ''
    if active
        -cls=cls+' active'
    li(class=cls)
        a&attributes(attributes)= text
            if block
                block

mixin navItem (cur,data)
    -var cls=''
    if cur==data.cur
        -cls='active'
    li(class=cls)
        a&attributes(attributes)= data.label

block ctn
    body
        .test= require
        nav.navbar.navbar-default.topline
            .container
                .navbar-header
                    span.navbar-brand 以打造明星的方式，打造最出色的你
                .collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        +item("在线报名")
                        +item("登录")
                        +item("注册")
                        +item("关于我们")
                        +item("联系我们")
                        +item()(class="share")
                            img(alt="",src="#{resPath}images/icon-share_03.png")
                        +item()(class="share")
                            img(alt="",src="#{resPath}images/icon-share_05.png")
        .container
            nav.navbar.navbar-default.navigation
                .container-fluid
                    .navbar-header
                        button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#bs-navbar",aria-expanded="false")
                            span.sr-only 切换导航
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#"): img.img-responsive(alt="",src="#{resPath}images/logo_03.png")
                    .collapse.navbar-collapse#bs-navbar
                        ul.list-inline.navbar-right
                            each it in c.nav
                                +navItem(index,it)(class="label "+it.labelCls,href="#{it.href}")
            block content
        footer
            .content
                .container
                    h3 战略合作&nbsp;
                        span Strategic Cooperation
                    ul.nav.nav-pills
                        +item("美容",true)(href="#beauty",data-toggle="pill")
                        +item("化妆")(href="#makeup",data-toggle="pill")
                        +item("服装")(href="#clothing",data-toggle="pill")
                        +item("服饰")(href="#apparel",data-toggle="pill")
                        +item("定制")(href="#customade",data-toggle="pill")
                        +item("摄影")(href="#photography",data-toggle="pill")
                        +item("摄像")(href="#camera",data-toggle="pill")
                        +item("婚庆")(href="#wedding",data-toggle="pill")
                    .tab-content
                        .tab-pane.fade.active.in#beauty
                            ul.list-inline.row
                                -var n=0
                                while n<16
                                    +item("",false,"col-md-1")(class="thumbnail")
                                        img(src="#{resPath}images/logo_03.png",alt="")
                                    -n++
                        .tab-pane.fade#makeup 222
                        .tab-pane.fade#clothing 333
                        .tab-pane.fade#apparel 444
                        .tab-pane.fade#customade 555
                        .tab-pane.fade#photography 666
                        .tab-pane.fade#camera 777
                        .tab-pane.fade#wedding 888
                    hr
                    h3 友情链接&nbsp;
                        span Links
                    ul.list-inline.links
                        -var n=0
                        while n<32
                            -n++
                            +item("搜狐网")
            .copyright
                .container
                    .media
                        .media-left
                            img(src="#{resPath}images/logo-ft_14.png")
                        .media-body
                            p Copyright©2006-20014 优蔻坊 京ICP备XXXXXX号   技术支持：内诺网络