mixin tCodePanel(title)
   .panel.panel-y-4
      .panel-heading
         h3&attributes(attributes)= title
            span.en LOVE
      .panel-body
         ul.list-unstyled.row.l-panel-y4
            li.col-md-6
               .thumbnail
                  img.img-responsive(src="#{resPath}images/t_code_06.jpg",alt="")
               h4.btn.btn-default 形象托管
            li.col-md-6
               .thumbnail
                  img.img-responsive(src="#{resPath}images/t_code_08.jpg",alt="")
               h4.btn.btn-default 精英培训
      .panel-footer
         .row
            .col-md-5.col-md-offset-1
               h4 合作共赢
            .col-md-5
               p 强强联手
               p 专业支撑

mixin staticPanel(title,en,src)
   .panel.panel-y-6
      .panel-heading.light= title
         span.en= en
      .panel-body.img
         img.img-responsive(src="#{resPath}images/#{src}")

mixin videoPanel(v)
   .panel.panel-y-6
      .panel-heading.darken 视频教育
         span.en Video Educational
      .panel-body.embed-responsive.embed-responsive-16by9(style='height: 200px')
         embed(src=v.url allowfullscreen="true" quality="high" width="100%" allowscriptaccess="always" type="application/x-shockwave-flash")

-var opt={}
-opt.codePanel={}
-opt.staticPanel={}

case index
   when 'partnerChannel'
      -opt.advSrc='adv_partner.jpg'
      -opt.videoSrc=''
      -opt.codePanel.title='就业招聘&学习'
      -opt.codePanel.cls='title'
      -opt.staticPanel.title='异业联盟'
      -opt.staticPanel.en='Alliance Of Different Industries'
      -opt.staticPanel.imgSrc='static-partner_06.jpg'
   when 'teamChannel'
      -opt.advSrc='adv_team.jpg'
      -opt.videoSrc=''
      -opt.codePanel.title='就业招聘&学习'
      -opt.codePanel.cls='title'
      -opt.staticPanel.title='精英团队'
      -opt.staticPanel.en='Elite team'
      -opt.staticPanel.imgSrc='static-team_03.jpg'
   when 'schoolChannel'
      -opt.advSrc='adv-school_03.jpg'
      -opt.videoSrc=''
      -opt.codePanel.title='免费学习&体验'
      -opt.codePanel.cls='title warm'
      -opt.staticPanel.title='女子学堂'
      -opt.staticPanel.en='Women\'s school'
      -opt.staticPanel.imgSrc='static-school_03.jpg'
   when 'courseChannel'
      -opt.advSrc='adv-course_03.jpg'
      -opt.videoSrc=''
      -opt.codePanel.title='就业招聘&学习'
      -opt.codePanel.cls='title'
      -opt.staticPanel.title='精英培训学院'
      -opt.staticPanel.en='Elite training school'
      -opt.staticPanel.imgSrc='static-course_06.jpg'
   when 'serviceChannel'
      -opt.advSrc='adv-service_03.jpg'
      -opt.videoSrc=''
      -opt.codePanel.title='就业招聘&学习'
      -opt.codePanel.cls='title'
      -opt.staticPanel.title='体验式服务'
      -opt.staticPanel.en='Experiential Service'
      -opt.staticPanel.imgSrc='static-service_06.jpg'

.row
   .col-md-8
      .adv-y-2
         img.img-responsive(src="#{resPath}images/#{opt.advSrc}",alt="")
   .col-md-4
      +tCodePanel(opt.codePanel.title)(class="#{opt.codePanel.cls}")
.row
   .col-md-8
      +staticPanel(opt.staticPanel.title,opt.staticPanel.en,opt.staticPanel.imgSrc)
   .col-md-4
      if video
         +videoPanel(video)