mixin title(title,sub)
    h2&attributes(attributes)=title
        | &nbsp;
        small!= sub

mixin userPic(u,cls)
    != f.img(f.resPath(c, 'portrait/' + u._id + '.jpg'), cls)

mixin userInfo(user)
    .hostInfo.media
        .media-body
            .media-left(style='float:left;width:25%;margin-right:15px')
                +userPic(user)
            .media-heading
                strong!= f.link(user, 'username')
                small(style='float:right')
                    if user.title
                        span=user.title
                    if user.industry
                        span &nbsp;-&nbsp;
                        if i18.iCat('industry')
                            span= i18.iCat('industry')[user.industry]
            != user.introduction || user.description

mixin panel(title,cls,more)
    if !attributes.class
        -attributes.class='panel-default ' + cls
    .panel&attributes(attributes)
        .panel-heading
            h3.panel-title= title
            if more
                a.pull-right(href=more style='margin-top: -12px;') 查看更多>>
        if block
            block

mixin slide(c, slides,func)
    unless func
        - func = 'head'
    .carousel.slide(data-ride='carousel', data-pause='hover')
        .carousel-inner
            each it,i in slides
                if it.href
                    -tag = 'a'
                else
                    -tag = 'div'
                - it.cls += (i == 0 ? ' active' : '')
                #{tag}.item(class=it.cls href=it.href)
                    if _.isString(it)
                        != f.img(f.resPath(c, it))
                    else if it.path
                        != f.img(it.path)
                    else
                        != f.imgItem(it, c, func)
                    if it.title
                        .carousel-caption
                            h3!= it.title
                            if it.subTitle
                                p= it.subTitle

mixin mobBtn(id,icon)
    button#menuBtn.navbar-toggle(type='button',data-toggle='collapse',data-target=id)
        if icon
            != f.icon(icon)
        else
            span.icon-bar
            span.icon-bar
            span.icon-bar

mixin nav(nav)
    ul&attributes(attributes)
        each it in nav
            if it.children && it.children.length > 0
                li
                    a(href=it.href)= it.label
                        span.caret
                        ul.dropdown-menu
                            each item in it.children
                                li
                                    a(href='#{item.href}')= item.label
            else
                li
                    a(href='#{it.href}')= it.label

mixin itemList(items, title)
    if items
        +panel(title)
            .list-group
                +media(items,{})

mixin media(posts,opt)
    if !opt
        -opt={}

    if !opt.ttLimits
        -opt.ttLimits= 27

    if !opt.ctLimit
        -opt.ctLimit= 52

    if !opt.func
        -opt.func= 'head'

    if !opt.text
        -opt.text= 'brief'

    if !attributes.class
        -attributes.class = 'list-group-item'

    if !attributes.target
        -attributes.target = '_blank'

    each it in posts
        -attributes.href = '/'+it._e+'/'+it._id
        a&attributes(attributes)
            .row
                if opt.oneCol
                    != f.imgItem(it, c, opt.func)
                else
                    .col-xs-4.col-md-3.pr0
                        != f.imgItem(it, c, opt.func, opt.imgCls)

                .col-xs-8.col-md-9
                    if block
                        block
                    else
                        p.media-heading!= f.adt(it.title || it.username ,opt.ttLimits)
                        .small
                            if it.subTitle
                                != it.subTitle
                            //if it.author
                            //    | #{it.author.username}
                            //if it.pubTime
                            //    | 发表于 #{it.pubTime.pattern()}
                        != f.adt(it[opt.text], opt.ctLimit)

mixin avatars(users)
    .avatars
        each it in users
            a(href= '/user/' + it._id title= it.username)&attributes(attributes)
                +userPic(it)

mixin ddItem(title,content,icon)
    if !content
        -content='--'
    dt
        if icon
            !=f.icon(icon)
        = title
    dd= content

mixin comments(id,entity,cs,cls)
    if !cls
        -cls = 'panel panel-default comments'
    +panel('家人的评论')(class=cls)
        .newOne
            a.btn.btn-sm.btn-primary(onclick="cf._comment('#{id}','#{entity}')")
                != f.icon('pencil')
                | 写评论
        if cs
            each it in  cs
                .media
                    if it.user
                        div(class='col-xs-2')
                            +userPic(it.user)
                    div(class='col-xs-10')
                        if block
                            block
                        else
                            h4.media-heading!= it.user.username
                            small.pull-right!= f.icon('thumbs-up', 'a', it.up || 0)
                            p!= it.content
                            p!= it.createdDate

