extends ./inc/main
block style
    :less(minify=true)
        .panel {
            margin-bottom:20px;
        }
        .media {
            &.summary {
                padding-top:10px;
                border-top:1px solid #ddd !important;
                img {
                    width:200px;
                }
                .media-body {
                    h2 {
                        color:#31708f;
                    }
                }
            }
        }
        .dl-horizontal {
            margin-top:15px;
            font-size:12px;
            dt {
                width:80px;
                text-align:left;
                line-height:26px;
            }
            dd {
                margin-left:80px;
                line-height:26px;
            }
        }
        .thumbnail {
            position:relative;
            .caption {
                padding:0;
                position:absolute;
                z-index:2;
                bottom:0;
                left:0;
                width:100%;
                background:rgba(51,51,51,.6);
                border-bottom-left-radius:4px;
                border-bottom-right-radius:4px;
                h4 {
                    margin:0;
                    color:#fff;
                    text-align:center;
                    line-height:30px;
                }
            }
        }
        .list-group-item {
            &.active{
                background:#f5f5f5;
                border-color:#ddd;
                color:#333;
                &:hover {
                    background:#f5f5f5;
                    border-color:#ddd;
                    color:#333;
                }
            }
        }
        .tightening {
            text-indent:2em;
        }
        .mb20 {
            margin-bottom:20px;
        }
        .clear:after {
            content:'.';
            display:block;
            height:0;
            overflow:hidden;
            clear:both;
        }
block content
    .row.main
        .col-md-12
            if crumb
                .row
                    include ../../inc/crumb
            .row.article.pt20
                .col-md-8.article-main
                    .media.mb20.thumbnail.summary
                        .media-left
                            a(href=''): != f.imgItem(local,c,'portrait')
                        .media-body
                            h2.media-heading= username
                            dl.dl-horizontal
                                +ddItem('入行时间',exp)
                                +ddItem('电话号码',phone)
                                +ddItem('QQ号码',qq)
                                +ddItem('工作职称',workTitle)
                                +ddItem('所学专业',major)
                    -var brandArr=goodAtBrand
                    if brandArr && brandArr!=[]
                        +panel('擅长品牌')
                            .row
                                each it,i in brandArr
                                    if i%2==1
                                        +thumbnail(it)(clearfix=true)
                                    else
                                        +thumbnail(it)
                    if description
                        +panel('验配师介绍')
                            p.tightening= description
                .col-md-4.article-aside
                    +panel('相关验配师')
                        +media(consultantList,{singleR:false})
mixin ddItem(title,content)
    if !content
        -content='--'
    dt= title+'：'
    dd= content
mixin thumbnail(opt,name)
    if !name
        -name='logo'
    div(class='col-md-6')
        .thumbnail: != f.imgItem(opt, c, name)
            .caption
                h4=opt.title
        if block
            block
    if attributes.clearfix
        .clear