extends ./inc/main

block style
    :less(minify=true)
        body {
            table {
                background: white;
            }
        }

        ;
        .test {
        }

block content

    #carousel-example-generic.carousel.slide.banner(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
            li.active(data-target='#carousel-example-generic', data-slide-to='0')
            li(data-target='#carousel-example-generic', data-slide-to='1')
            li(data-target='#carousel-example-generic', data-slide-to='2')
            li(data-target='#carousel-example-generic', data-slide-to='3')
            li(data-target='#carousel-example-generic', data-slide-to='4')
            li(data-target='#carousel-example-generic', data-slide-to='5')
        // Wrapper for slides
        .carousel-inner(role='listbox')
            .item.active
                img(src='#{resPath}images/1.jpg', alt='')
            .item
                img(src='#{resPath}images/2.jpg', alt='')
            .item
                img(src='#{resPath}images/3.jpg', alt='')
            .item
                img(src='#{resPath}images/4.jpg', alt='')
            .item
                img(src='#{resPath}images/5.jpg', alt='')
            .item
                img(src='#{resPath}images/6.jpg', alt='')
        // Controls
        a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
        a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next

    .main.row
        .col-md-5.block-main-left
            section.panel-news
                .hd-panel-news
                    a.more-panel-news(href='javascript:void(0);') more
                    h3.title-panel-news 听力健康
                .bd-panel-news
                    ul.l-panel-news
                        each it in posts
                            li.li-panel-news
                                a.link-panel-news(href='/post/'+it._id)= it.title
            section.panel-news
                .hd-panel-news
                    a.more-panel-news(href='javascript:void(0);') more
                    h3.title-panel-news 互动论坛
                .bd-panel-news
                    ul.l-panel-news
                        each it in posts
                            li.li-panel-news
                                a.link-panel-news(href='/post/'+it._id)= it.title
        .col-md-7.block-main-right
            ul.l-important-index
                li.li-important-index
                    a.btn-important-index(href='javascript:void(0);') 搜索
                    h3.title-important-index.instru 找助听器中心
                    .row.bd-important-index
                        .col-md-5
                            span.btn-option-important 地区
                        .col-md-5
                            span.btn-option-important 下载
                li.li-important-index
                    a.btn-important-index(href='javascript:void(0);') 搜索
                    h3.title-important-index.master 找助听器验配师
                    .row.bd-important-index
                        .col-md-5
                            span.btn-option-important 地区
                        .col-md-5
                            span.btn-option-important 下载
                li.li-important-index
                    a.btn-important-index(href='javascript:void(0);') 搜索
                    h3.title-important-index.brand 找助听器品牌
                    .row.bd-important-index
                        .col-md-5
                            span.btn-option-important 地区
                        .col-md-5
                            span.btn-option-important 下载
                li.li-important-index.last
                    a.btn-important-index(href='javascript:void(0);') 搜索
                    h3.title-important-index.about 找相关服务
                    .row.bd-important-index
                        .col-md-5
                            span.btn-option-important 地区
                        .col-md-5
                            span.btn-option-important 下载
block st
    :coffee(bare=true,minify=true)
        $('.li-nav').hover (->
            $(this).addClass 'active'
        ), ->
            $(this).removeClass 'active'