extends ./inc/main

block style
    :less(minify=true)
        body {
            table {
                background: white;
            }
        }

        ;
        .test {
        }

block content
    #carousel-example-generic.carousel.slide.banner(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
            li.active(data-target='#carousel-example-generic', data-slide-to='0')
            li(data-target='#carousel-example-generic', data-slide-to='1')
            li(data-target='#carousel-example-generic', data-slide-to='2')
            li(data-target='#carousel-example-generic', data-slide-to='3')
            li(data-target='#carousel-example-generic', data-slide-to='4')
            li(data-target='#carousel-example-generic', data-slide-to='5')
        // Wrapper for slides
        .carousel-inner(role='listbox')
            .item.active
                img(src='#{resPath}images/1.jpg', alt='')
            .item
                img(src='#{resPath}images/2.jpg', alt='')
            .item
                img(src='#{resPath}images/3.jpg', alt='')
            .item
                img(src='#{resPath}images/4.jpg', alt='')
            .item
                img(src='#{resPath}images/5.jpg', alt='')
            .item
                img(src='#{resPath}images/6.jpg', alt='')
        // Controls
        a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
        a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next

    .main.row
        .col-md-4
            +media(place)
        .col-md-4
            +media(master)
        .col-md-4
            +media(brand)
block st
    :coffee(bare=true,minify=true)
        #nav hover
        $('.li-nav').hover (->
            $(this).addClass 'active'
            $(this).find('.l-subnav').show();
        ), ->
            $(this).removeClass 'active'
            $(this).find('.l-subnav').hide();

        #search hover
        $('.li-search').mouseenter (->
            ndx = $(this).index()-1
            $(this).addClass('active').siblings('.li-search').removeClass('active');
            $('.panel-search').hide();
            $('.panel-search:eq('+ndx+')').show();
            $('.block-panel-search').show();
        )

        #close search
        $('.close-panel-search').click(->
            $('.li-search').removeClass 'active'
            $('.block-panel-search').hide()
        )

        #checkTip trigger
        $('.tip-li-spanel ').click ->
            cJudge = $(this).siblings('.check-li-spanel').prop('checked')
            if !cJudge
                $(this).siblings('.check-li-spanel').prop 'checked', true
            else
                $(this).siblings('.check-li-spanel').prop 'checked', false
            return

        #mutiple toogle
        $('.multiple-hd-spanel').find('.tip-mul-spanel').click ->
            sJudge = $(this).parents('.li-panel-ser').find('.block-bd-spanel').is(':visible')
            if !sJudge
                $(this).parents('.multiple-hd-spanel').addClass 'active'
                $(this).parents('.li-panel-ser').find('.block-bd-spanel').show()
                $(this).siblings('.arrow-multiple-spanel').removeClass('up').addClass('down')
            else
                $(this).parents('.multiple-hd-spanel').removeClass 'active'
                $(this).parents('.li-panel-ser').find('.block-bd-spanel').hide()
                $(this).siblings('.arrow-multiple-spanel').removeClass('down').addClass('up');
            return

        $('.arrow-multiple-spanel').click ->
            $('.multiple-hd-spanel').find('.tip-mul-spanel').trigger 'click'
            return

        #mutiple check
        $('.multiple-hd-spanel').find('.check-li-spanel').click ->
            cJudge = $(this).prop('checked')
            if !cJudge
                $(this).parents('.li-panel-ser').find('.block-bd-spanel').find('.check-child-spanel').prop('checked',false)
            else
                $(this).parents('.li-panel-ser').find('.block-bd-spanel').find('.check-child-spanel').prop('checked',true)
            return

        #mutiple check:children
        $('.tip-child-spanel').click ->
            $(this).siblings('.check-child-spanel').trigger 'click'

        $('.check-child-spanel').click ->
            $scope = $(this).parents('.block-bd-spanel')
            allCheck = allJudge($scope).allCheck
            if allCheck
                $('.multiple-hd-spanel .check-li-spanel:visible').prop 'checked', true
            else
                $('.multiple-hd-spanel .check-li-spanel:visible').prop 'checked', false
            return

        allJudge = ($scope) ->
            alJudge = {}
            allCheck = true
            allUn = true
            $scope.find('.check-child-spanel').each ->
                if $(this).prop('checked')
                    allUn = false
                else
                    allCheck = false
                return
            alJudge.allCheck = allCheck
            alJudge.allUn = allUn
            alJudge
