extends ./inc/main
block style
    :less(minify=true)
        .mod-tab {
            margin-top: 25px;
            .tab-pane {
                background: #fff;
                border: 1px solid #ddd;
                border-top: none;
                padding: 30px 20px 10px;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                p {
                    line-height: 1.8em;
                    text-indent: 2em;
                }
                .item-perfms {
                    border-bottom: 1px dotted #ddd;
                    padding-bottom: 5px;
                    .glyphicon {
                        color: #5bc0de
                    }
                }
            }
        }

block content
    mixin label(title,content)
        if !content || content==''
            -content='-'
        if !attributes.class || attributes.class==''
            -attributes.class='label-default'
        h4.mb16= title+'：'
            span(class='label '+'#{attributes.class}')= content
    .main.row
        .col-md-12
            if crumb
                .row
                    include ../../inc/crumb
            .row.article.pt20
                .col-md-8.article-main
                    +panel('助听器产品介绍')
                        .thumbnail
                            != f.imgItem(locals,c, 'slide')
                        .caption
                            h2.title= title
                            .box-label
                                +label('价格',price)(class='label-danger')
                                +label('品牌',brand.title)
                                +label('上市时间',pubTime.pattern('yyyy-MM-dd'))
                                +label('外型',outline)
                                +label('通道',channel)
                                +label('保修时间',warranty)
                                +label('水平',level)
                    .mod-tab
                        ul.nav.nav-tabs(role='tablist')
                            li.active(role='presentation')
                                a(href='#desc',aria-controls='desc',role='tab',data-toggle='tab') 助听器介绍
                            li(role='presentation')
                                a(href='#perfms',aria-controls='perfms',role='tab',data-toggle='tab') 规格参数
                        .tab-content
                            .tab-pane.active.fade.in(role='tabpanel',id='desc')
                                p= description
                            .tab-pane.fade(role='tabpanel',id='perfms')
                                each it in performance.split(',')
                                    p.item-perfms= it
                                        span.glyphicon.glyphicon-ok
                .col-md-4.article-aside
                    +panel('相关助听器')
                        +media(productList,{singleR:false,func:'slide'})
block st
    :coffee(bare=true,minify=true)
        $('.item-perfms:last').css 'border-bottom','none'