extends ./inc/main
block style
    :less(minify=true)
        .panel {
            margin-top:15px;
            margin-bottom:5px;
            .panel-title {
                font-size: 16px;
            }
            .panel-body {
                padding-bottom:20px;
                .media {
                    p {
                        line-height:21px;
                        margin-bottom:30px;
                    }
                    .intro {
                        position:relative;
                        .label {
                            margin-right:10px;
                            padding:.4em .6em .5em;
                        }
                    }
                    .btn {
                        width:100px;
                        margin-top:40px;
                    }
                }
            }
        }
        .tab-box {
            margin-top:15px;
            .nav-tabs {

            }
            .tab-content {
                color: #666;
                background:#fff;
                border:1px solid #ddd;
                border-top:none;
                padding:0 15px 20px;
                p:first-child {
                    padding:30px 10px 0;
                    text-indent: 2em;
                    line-height:2.1em;
                }
                ul {
                    padding:15px 0 0 0;
                    li {
                        padding:0 15px;
                        line-height:42px;
                        border-bottom:1px dotted #ddd;
                        &:last-child {
                            border:none;
                        }
                    }
                }
            }
        }
block content
    -var pro=product[0]
    -var msgList=pro.evaluation
    .row
        .col-md-8
            .panel.panel-default
                .panel-heading
                    h3.panel-title 聆听秒杀
                .panel-body
                    .media
                        .media-left
                            != f.imgItem(pro, c)
                        .media-body
                            p= description
                            p.intro
                                span.label.label-danger #{discount}折
                                span.label.label-info ¥#{price}
                                span.glyphicon.glyphicon-earphone.label.label-info #{pro.contact}
                            a(href="javascript:void(0);").btn.btn-primary.center-block 秒杀
            .tab-box
                ul.nav.nav-tabs
                    li.active
                        a(href="#detail",data-toggle="tab") 商品详情
                    li
                        a(href="#evaluation",data-toggle="tab") 评价
                .tab-content
                    .tab-pane.active.fade.in#detail
                        p= pro.description
                    if msgList
                        .tab-pane.fade#evaluation
                            ul.list-unstyled
                                each it in msgList
                                    li= it



            //
                p <b>商品详情：</b>#{pro.description}
                each it in msgList
                    p <b>商品评价：</b>#{it}
                p <b>联系商家：</b>#{pro.contact}
        .col-md-4