extends ./inc/main
block style
    :less(minify=true)
        .panel {
            margin-top: 15px;
            margin-bottom: 5px;
        }

        .list-group {
            .list-group-item {
                border: 1px solid #eee;
            }
            .label {
                margin-right: 10px;
                padding: 5px 8px;
                font-size: 1em;
            }
        }
block content
    .row
        .col-md-8
            .panel.panel-default
                .panel-heading
                    h3.panel-title 聆听秒杀
                .list-group
                    each it in list
                        a.list-group-item(href=it.url)
                            .media
                                .col-xs-3
                                    != f.imgItem(it, c)
                                .col-xs-9
                                    h4= it.title
                                    p= it.description
                                    div <strong>产地：</strong>
                                        = it.origin
                                    div <strong>数量：</strong>
                                        = it.surplus
                                    p <strong>销售地区：</strong>
                                        = it.place
                                    p
                                        span.label.label-info 原价: ¥#{it.price}元
                                        span.label.label-danger 折扣: #{it.discount*10}折
                                        span.label.label-success 折后价: ¥#{it.price * it.discount}元
        .col-md-4