extends ./inc/main
block style
    :less(minify=true)
        .panel {
            margin-top:15px;
            margin-bottom:5px;
            .panel-title {
                font-size: 16px;
            }
        }
        .list-group {
            .list-group-item {
                border:1px solid #eee;
            }
            .media {
                .media-body {
                    p {
                        padding:0 0 5px 20px;
                    }
                    .label {
                        margin-right:10px;
                    }
                }
            }
        }
block content
    .row
        .col-md-8
            .panel.panel-default
                .panel-heading
                    h3.panel-title 聆听秒杀
                .panel-body
                    .list-group
                        each it in list
                            a.list-group-item(href="/seckilling/#{it._id}")
                                .media
                                    .media-left
                                        != f.imgItem(it, c)
                                    .media-body
                                        p= it.description
                                        p <strong>产地：</strong>
                                            = it.brand.origin
                                        p <strong>数量：</strong>
                                            = it.seckilling
                                        p
                                            span.label.label-danger #{it.seckilling}折
                                            span.label.label-info ¥#{it.price}
        .col-md-4