extends ./inc/main
block content
    mixin item(tip,data)
        if !attributes.class
            -attributes.class=''
        li.item-data
            span.tip= tip+'： '
            span(class='data #{attributes.class}')= data

    include ../../inc/crumb
    .row.mt
        .col-md-8.artitle-main
            .thumbnail
                != f.imgItem(locals,c,'slide')
                .caption
                    h2.title.text-center.pl0= title
                    h3 店铺介绍
                    p.desc= description
            if consultant && consultant.length != 0
                +panel('验配师')
                    each it in consultant
                            .media
                                .media-left
                                    a(href='/consultant?id=#{it._id}')
                                        != f.imgItem(it, c)
                                .media-body
                                    h4
                                        a(href='/consultant?id=#{it._id}')= it.username
                                    p= it.description
            if brand
                +panel('经营品牌')
                    .row
                        each it,i in brand
                            if i%2==1
                                +thumbnail(it)(clearfix=true)
                            else
                                +thumbnail(it)
        .col-md-4.article-aside
            +panel('基本信息')
                .row
                    if park == '是'
                        .col-md-12
                            ul.list-inline
                                li
                                    span.glyphicon.glyphicon-compressed
                                li
                                    span.tip 可停车
                    if dropIn == '是'
                        .col-md-12.pt20
                            ul.list-inline
                                li
                                    span.glyphicon.glyphicon-log-in
                                li
                                    span.tip 提供上门服务
                    .col-md-12.pt20
                        ul.list-inline
                            li
                                span.glyphicon.glyphicon-phone
                            +item('联系电话',phone)
                    .col-md-12.pt20
                        ul.list-inline
                            li
                                span.glyphicon.glyphicon-road
                            +item('地址',address)(class='w180')
                    .col-md-12.pt20
                        ul.list-inline
                            li
                                span.glyphicon.glyphicon-calendar
                            +item('营业面积',space)

            +panel('热门验配中心')
                +media(shopList,{singleR:false})
