extends ./inc/main
block style
    :less(minify=true)

block content
    mixin item(tip,data)
        if !attributes.class
            -attributes.class=''
        li.item-data
            span.tip= tip + '： '
            span(class='data #{attributes.class}')= data

    include ../../inc/crumb
    .article
        .col-md-8
            //.thumbnail
            //    != f.imgItem(locals, c, 'slide')

            +panel('验配中心介绍')
                h2.title.text-center.pl0= title

                if refFile && refFile.slide
                    +slide(c, refFile.slide)

                .panel-body
                    h4 店铺介绍

                    p.tightening= description

                    .text-center.row.mb
                        .col-xs-6
                            a(href=f.navUrl('apply/inquiry')).btn.btn-primary.btn-lg 我要咨询
                        .col-xs-6
                            a(href=f.navUrl('apply/order')).btn.btn-success.btn-lg 我要预约

            if consultant && consultant.length != 0
                +panel('验配师')
                    .panel-body

                        each it in consultant
                            .media
                                .media-body
                                    div(style='float:left;width:25%;margin-right:15px')
                                        != f.imgItem(it, c)
                                    .media-heading
                                        a(href='/consultant/#{it._id}')= it.username
                                    p!= it.description

            if brand
                +panel('经营品牌')
                    .panel-body
                        if _.isString(brand)
                            =brand
                        else
                            each it,i in brand
                                +thumbnail(it,null,'a').col-xs-3(onclick='cf.showBrand(this)' title=it.title,bid=it._id)
            p
            include inc/ugcBox


        .col-md-4.m3
            +panel('基本信息')
                .panel-body
                    dl.dl-horizontal
                        if park == '是'
                            +ddItem('可停车',' ','compressed')
                        if dropIn == '是'
                            +ddItem('提供上门服务',' ','log-in')

                        +ddItem('营业面积:',space,'calendar')
                        +ddItem('联系电话:',phone,'phone')
                        +ddItem('地址:',address,'road')
            if shopList
                +panel('热门验配中心')
                    - var v = _cd.shop
                    .list-gourp
                        +media(shopList,{func: v.func, text: v.text})

block st
    :coffee(bare=true,minify=true)
        new cf.view.slide
            el: '.carousel.slide'
            controller: true
            indicator: true

        cf._comment(null, 'shop', null, '留言与评价', null, '.comment')
