extends ./inc/main
block style
   :less(minify=true)
      .panel-y-7 {
         margin-top:25px;
         padding:50px 28px 50px;
         height:600px;
         .panel-heading {
            h3 {
               padding-left:50px;
               font-size:36px;
            }
            h4 {
               padding-left:50px;
               margin-top:18px;
               font-size:36px;
               color:#ff3333
            }
         }
         .panel-body {
            padding-top:0;
            padding-bottom:30px;
            p {
               padding-left:50px;
               font-size:20px;
               line-height:38px;
               color:#eee;
            }
         }
         .panel-footer {
            background:none;
            border:none;
            .btn {
               margin-left:50px;
               padding:12px 20px;
               /*background:#ff3333;*/
               font-size:16px;
            }
         }
      }

block content
   include ./inc/topFragment

   .row.panel.panel-y-7
      .col-md-7
         .panel-heading
            h3= post.title
            h4= post.author.username
         .panel-body
            p= post.brief
         .panel-footer
            a(href="/post/#{post._id}").btn.btn-danger 阅读更多
            a(href=f.navUrl('home/partner')).btn.btn-success 申请加入