extends ./inc/main
block style
    :less(minify=true)
        .panel-service {
            h3 {
                margin: 10px 0;
                font-size: 18px;
            }
            .panel-body {
                &:after {
                    display: block;
                    content: '';
                    height: 0;
                    overflow: hidden;
                    clear: both;
                }
                .img-responsive {
                    display: block;
                    margin: 0 20px 10px 0;
                    padding: 10px;
                    border: 1px solid #eee;
                    float: left;
                }
                p {
                    line-height: 1.8em;
                }
                .sub {
                    margin-top: 20px;
                    font-size: 12px;
                    span {
                        color: #666;
                        padding-right: 8px;
                    }
                    i {
                        color: #999;
                        padding-right: 20px;
                    }
                }
            }
        }

        .panel-group {
            margin-top: 10px;
            a[data-toggle='collapse'] {
                display: block;
            }
        }

        .btn-group {
            margin-top: 25px;
            .btn {
                border-radius: 0;
            }
        }

block content
    .col-md-8
        .panel.panel-default.panel-service
            .panel-heading
                h3= title
            .panel-body
                != f.imgItem(locals, c, 'head', 'img-responsive')
                != content
                .sub
                    span 发表于
                    i= pubTime.pattern()
        .btn-group(data-toggle="buttons")
            each it,i in package
                -var cls='btn btn-danger'
                -var iptChecked=false
                if i == 0
                    -cls+=' active'
                    -iptChecked=true

                label(class='#{cls}')
                    input(type="radio",name="package",id="#{it.code}",autocomplete="off",checked= iptChecked)
                    !=it.title
        .panel-group(id="accordion")
            each it,i in package
                -var cls='panel-collapse collapse'
                if i == 0
                    -cls+=' in'
                .panel.panel-default
                    .panel-heading(id="heading#{it.code}")
                        h4.panel-title
                            a(data-toggle="collapse",data-parent="#accordion",href="#collapse#{it.code}",aria-controls="collapse#{it.code}")
                                =it.title
                                span.pull-right= it.price + '元'


                    div(class="#{cls}",id="collapse#{it.code}",aria-labelledby="heading#{it.code}")
                        .panel-body
                            = it.description
                            a(href=f.navUrl('apply/order')).btn.btn-danger.pull-right 在线预约
    .col-md-4

block st
    :coffee(bare=true,minify=true)
        $('.btn-group .btn').click ->
            ndx = $(this).index()
            if $('.panel-collapse:eq(' + ndx + ')').is(':hidden')
                $('[data-toggle=collapse]:eq(' + (ndx + 1) + ')').trigger 'click'
            return