.container.actSlide
    h2(title=it.title)!= f.link(it)
        small= it.subTitle
        if it.cat
            span 【#{it.cat}】
    .col-md-6.mainImg
        a(href='/activity/' + it._id)
            != f.imgItem(it, c)
        .venue.row.hidden-xs
            p.col-md-6
                != f.icon('time')
                if it.startedDate
                    span= new Date().pattern('yyyy-MM-dd HH:mm')
            if it.venue
                p.col-md-6
                    != f.icon('flag')
                    span= it.venue.title
                p.col-md-6
                    != f.icon('glass')
                    span= it.venue.fee
                p.col-md-6
                    != f.icon('phone-alt')
                    span= it.venue.phone
    .col-md-6.mainInfo
        h3.hidden-xs 主持人
        if it.master
            .author.hidden-xs
                each v,k in it.master
                    +userInfo(v)
        p.hidden-xs
        h3 话题介绍
        .intro!= it.brief
    .col-md-12.jBtn.text-center
        a(href='/activity/' + it._id).btn.btn-lg.btn-info 我要报名
