.media
    .col-xs-12.col-md-4.imgSide.p0
        != f.imgItem(it, c)
        if it.cat && _cat[it.cat]
            .pre-cat
                a(href='/')= _cat[it.cat].title
    .col-xs-12.col-md-8.textSide
        h3!= f.link(it)
            if it.subTitle
                small= it.subTitle
        .meta
            if it._e == 'activity'
                if it.master
                    each u in it.master
                        != f.link(u, 'username')
                if it.startedDate

                    strong!= _.isString(it.startedDate)?it.startedDate.dStr():it.startedDate.pattern()
            else if it._e == 'post'
                if it.author
                    != f.link(it.author, 'username')
                if it.putTime
                    strong!= it.putTime.pattern('yyyy-MM-dd HH:mm')
                else
                    strong!= it.lastUpdated.pattern('yyyy-MM-dd HH:mm')

        .content!= it.brief
        .footer
            if it.comments
                span(title='浏览')
                    f.icon('time')
                    != it.visit
                span(title='喜欢')
                    f.icon('hearot')
                    != it.support
                span(title='评论')
                    f.icon('comment')
                    != it.commnetCount