h2=title
    small= subTitle
        if cat
            span.cat 【#{_cat[cat]}】

!= f.imgItem(locals, c, 'head', 'postPic')

h3 主题介绍
!= content

h3 主持人介绍
if master
    .author
        each v in master
            - _user = v;
            - _user._e = 'user'
            - _uClass = 'host'
            include userInfo

if fee.toString().length >5 && feeTable
    .well.well-sm.fee=fee
    .reg

//h3 地图
//
//.regBtn
//    a.btn.btn-lg.btn-info.btn-block&attributes(reg) 我要报名
//hr



if participant
    h3 活动报名
    .row
        each it in participant
            a.col-xs-2(href= '/user/' + it._id,title= it.username)
                != f.img(f.resPath(c, 'portrait/' + it._id + '.jpg'))

each it in itemTable
    if it.title
        h3= it.title
    if it.content
        != it.content


if venue
    - v = venue[0]
    h3 场地介绍
    .row
        != f.imgItem(v, c)
    h4= v.title
    != v.content
    .venue.clearfix
        p
            != f.icon('time')
            if startedDate
                span= startedDate
                    | (两小时)
        p
            != f.icon('glass')
            span.feeStr= v.fee
        p
            != f.icon('phone-alt')
            span= v.phone
        p
            != f.icon('home')
            span= v.address
        p
            != f.icon('road')
            span= v.route