h2=title
    small= subTitle
    if cat
        span.cat 【#{_cat[cat]}】
hr
.text-center
    != f.imgItem(locals, c, 'head', 'postPic')

h3 话题介绍
!= content

h3 主持人介绍
if master
    .author
        each v in master
            - _user = v;
            - _user._e = 'user'
            - _uClass = 'host'
            include userInfo

.well.well-sm.fee=fee
.reg


//h3 地图

//
//.regBtn
//    a.btn.btn-lg.btn-info.btn-block&attributes(reg) 我要报名
//hr

//h3 活动报名
//
//if participant
//    .avatars
//        each it in participant
//            a(href= '/user/' + it._id,title= it.username)
//                != f.img(f.resPath(c, 'portrait/' + it._id + '.jpg'))
//    hr

if venue
    - v = venue
    h3 场地介绍
    h4= v.title
    != v.content
    .text-center
        != f.imgItem(v, c)
    .venue.clearfix
        p
            != f.icon('time')
            if startedDate
                span= startedDate
                | (两小时)
        p
            != f.icon('glass')
            span.feeStr= v.fee
        p
            != f.icon('phone-alt')
            span= v.phone
        p
            != f.icon('home')
            span= v.address
        p
            != f.icon('road')
            span= v.route
