if _items.length
    .pBoxList(class= _items[0]._e+'List')
        .row
            each it in _items
                div(class= it.cls || 'col-md-3')
                    .pBox
                        if it._e == 'map'
                            a(title=it.title onclick='cf.showPic(this)' data-url='#{it.url}' data-list='#{it.list}')
                                != f.img(it.imgPath)
                                .text
                                    h4(style='font-size: 18px')= it.title
                        else
                            a(href= it.href)
                                if it.imgPath
                                    != f.img(it.imgPath)
                                else if it.refFile && it.refFile.list
                                    != f.img(f.resPath(c, it.refFile.list[0]))
                                //.tipText
                                //    = it.brief
                                .text
                                    h4(style='font-size: 18px')= it.title
                                    p(style='font-size: 14px')
                                        if it._e == 'sight'
                                            != f.catLink(it.cat, locals.headMenu)
                                        else if it.small
                                            = it.small
                                        else if it.subTitle
                                            = it.subTitle

            if showTour
                include tours
        if morePath
            a(href= morePath).more More

    //
    //.row
    //    each it in _items
    //        div(class= it.cls || 'col-md-3')
    //            .pBox
    //                //to-do: check if topIcon is needed
    //                if top
    //                    .topIcon
    //                - ee = it.entity || _entity
    //                a(href= f.href(ee, it._id))
    //                    != f.img(ee)
    //                    .text
    //                        h4= it.title
    //                        p= it.subTitle
    //if _items && _items.length > 3
    //    a.more More