extends ../../../main
include ../../../inc/mixin

block append js
    script(src='#{libPath}router.js')

block style
    :less(minify=true)
        #bit {
            overflow: visible;
            .carousel-inner{
                overflow: visible;
            }
            .carousel-control{
                width: 10%;
                height: 150px;
            }
            .left{
                margin-left: -100px;
            }
            .right{
                margin-right: -75px;
            }
        }
block ctn
    .headerWrapper
        header#header.container
            h1.col-md-9
                a(href= '/')
                    img(src= f.resPath(c, 'images/logo_light.png') style='width: 105px;margin-top: -5px;')
            .col-md-3.p0
                    .input-group.sbar(style= 'margin-top:45px')
                        .input-group-btn
                            button.btn.btn-sm.btn-default(style='width: 85px')
                                span.et Sight
                                |&nbsp;
                                span.caret
                            ul.dropdown-menu(style='margin:-3px 0 0 -1px;')
                                li: a Sight
                                li: a Show
                                li: a Food
                                li: a Handicraft
                                li: a Culture
                                li: a Car
                                li: a Guide
                                li: a Tour
                        input#q.form-control.input-sm(name='q', type='text', placeholder='Search...')
                        != f.icon('search', 'span', null, 'form-control-feedback')
    block slide

    .topLine
        .container
            .row
                h2.col-md-3
                    | China /&nbsp;
                    a(href='/')
                        strong= city.title
                .col-md-9
                    block headLine
                        if headTitle
                            h3.pull-left= headTitle
                        if headMenu == 'sns'
                            //include share
                        else if _.isArray(headMenu)
                            ul.headMenu.list-inline.pull-right.bold
                                each it in headMenu
                                    li(class= it.cur ? 'active' : '')
                                        a(href= it.href)= it.title

    #content.container

    #static.container
        div(id= index).row
            nav.col-md-2
                - var mClass = 'menus row';
                include ../../../inc/b3Menu
            .col-md-10.clearfix
                block content
    .footerWrapper
        footer.container
            #bit.carousel(data-ride='carousel')
                .carousel-inner
                    .item.row.active
                        each it in siteMap.sortBy('row')
                            ul.nu.col-md-2(class= it.top ? 'top' : '')
                                p
                                    strong= it.title
                                if it.items && it.items.length
                                    each ts in it.items
                                        if ts
                                            li!= f.link(ts)
                    .item.row
                        ul.nu.snd
                            p: strong Attraction
                            each it in _attraction
                                li!= f.link(it)
                a.left.carousel-control(href='#bit', role='button', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left
                a.right.carousel-control(href='#bit', role='button', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right
    .bottomWrapper
        .container
            .row
                .col-md-2.logo
                    img(src= f.resPath(c, 'images/logo_strong.png') style='width: 75px')
                ul.col-md-6.list-inline
                    each it in c.foot
                        li
                            a(href= it.href)= it.label
                .col-md-4.text-bottom
                    p.row © 2015 WikiBeijing. All rights reserved. No part of this site may be reproduced without our written permission.
block append stat
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-68364869-1', 'auto');
        ga('send', 'pageview');