if geo
    a(href='https://www.google.com/maps/dir//#{geo.lat},#{geo.lng}/',target='_blank')
        img(width='100%',src='http://maps.googleapis.com/maps/api/staticmap?center=#{geo.lat},#{geo.lng}&zoom=11&scale=1&size=272x200&maptype=roadmap&format=png&visual_refresh=true&markers=color:red%7Clabel:A%7C#{geo.lat},#{geo.lng}')
if itemTable
    each it,i in itemTable
        if it.title == 'Last Updated'
            - it.content = lastUpdated.pattern()
        if it.content
            .panel
                a.panel-heading(data-toggle='collapse', data-parent='#info', href= '#itemTable' + i)
                    h4.panel-title
                        = it.title
                        .pull-right
                            != f.icon('menu-up')
                            != f.icon('menu-down')
                .panel-collapse.collapse(id= 'itemTable#{i}')
                    if it.title == 'Watch Video'
                        if it.content
                            -img = f.resPath(c, 'images/youtube.png')
                            -it.content = "<a target='_blank' href='"+it.content+"'><img width='100%' src='"+img+"'></a>"
                        else
                            -it.content = '<p>Coming soon...</p>'
                    else if it.title == 'Seat Map' && refFile.seat
                        -img = f.resPath(c, refFile.seat[0])
                        -it.content = "<img width='100%' onclick='cf.showPic(this)' data-url='"+img+"' src='"+img+"'/>"
                    else if it.title == 'English Map' && map
                        if map.refFile.slide
                            -img = f.resPath(c, map.refFile.slide[0])
                            -it.content = "<img width='100%' onclick='cf.showPic(this)' data-url='"+img+"' src='"+img+"'>"
                        else
                            -it.content = '<p>Coming soon...</p>'
                    .panel-body!= it.content


//if info
//    each v,k in info
//        if v
//            .panel
//                a.panel-heading(data-toggle='collapse', data-parent='#info', href= '#' + k)
//                    h4.panel-title
//                        = k.toString().capAll()
//                        .pull-right
//                            != f.icon('menu-up')
//                            != f.icon('menu-down')
//                .panel-collapse.collapse(id= k)
//                    .panel-body!= v