extends inc/main

block style
    :less(minify=true)
        .note p {
            font-size: 13px !important;
            line-height: 20px;
        }

        .btn-success {
            margin-top: 10px;
        }

        .travels i {
            margin: 0 5px;
            color: green;
        }
block content

    .panel
        .panel-heading
            h2= title
    .panel
        each it in _items
            .panel-heading
                h3= it.title
            .panel-body.travels
                .row
                    .col-md-4.r0
                        if it.refFile && it.refFile.car
                            -var _slides = it.refFile.car || []
                            -var _prop = 'car'
                            -var _ctx = it
                            -var _sid = 'carss'+i
                            include inc/slide
                    .col-md-4
                        h4.text-center Airport Transfer
                        if it.airport
                            for tt in it.airport
                                p.row
                                    span.col-md-3.text-right
                                        input(type='radio',name= 'airport')
                                    span.col-md-2 $#{tt.price}
                                    span.col-md-7
                                        = tt.from
                                        != f.icon('arrow-right')
                                        = tt.to

                        hr
                        h4.text-center Great Wall Transfer
                        if it.spot
                            for bb in it.spot
                                p.row
                                    span.col-md-3.text-right
                                        input(type='radio',name= 'spot')
                                    span.col-md-2 $#{bb.price}
                                    span.col-md-7.r0
                                        = bb.from
                                        != f.icon('resize-horizontal')
                                        = bb.to

                        hr
                        h4.text-center Tour guide
                        p.row
                            span.col-md-3.text-right
                                input(type='radio',name= 'guide')
                            span.col-md-2 $#{it.guideFee}
                            span.col-md-7 Transfer only

                    .col-md-4
                        h4 NOTE
                        .note!= it.note
                    .col-md-12
                        .btn.btn-block.btn-success.btn-small Select & Book