extends inc/main

block style
    :less(minify=true)
        .note p {
            font-size: 13px !important;
            line-height: 20px;
        }

        .btn-success {
            margin-top: 10px;
        }

        .panel-heading {
            h3 {
                margin-bottom: 0;
            }
        }

        .col-md-4 {
            h4 {
                margin-top: 0;
            }
        }

        .travels i {
            margin: 0 5px;
            color: green;
        }

        .pay .col-xs-8 hr {
            width: 70%;
            left: 105px;
            top: 2px;
        }

block content

    mixin carInput(name,price,from,to,type)
        input.tt(name=name id=f.randomChar(4) data-from=from data-to=to data-price=price type='checkbox' data-type=type)
    .panel
        .panel-heading
            h2= title
    .panel
        each it in _items
            script.
                p_#{it._id} = !{JSON.stringify({title:it.title})};
            .panel-heading
                h3= it.title
                    if it.star == 1
                        span.text-danger *
            .panel-body.travels(id=it._id)
                .row
                    .col-md-4.r0
                        if it.refFile && it.refFile.car
                            -var _slides = it.refFile.car || []
                            -var _prop = 'car'
                            -var _ctx = it
                            -var _sid = 'carss'+i
                            include inc/slide
                    .col-md-4
                        if it.airport
                            for tt in it.airport
                                h4.text-center= tt.type == 'pickup'? 'Airport Pickup': 'Airport Transfer'
                                p.row
                                    span.col-md-3.text-right
                                        +carInput(tt.type,tt.price,tt.from,tt.to,tt.type)
                                    span.col-md-2 $#{tt.price}
                                    span.col-md-7
                                        = tt.from
                                        != f.icon('arrow-right')
                                        = tt.to
                        h4.text-center Tour guide
                        p.row
                            span.col-md-3.text-right
                                +carInput('guide',it.guideFee,null,null,'guide')
                            span.col-md-2 $#{it.guideFee}
                            span.col-md-7 Transfer only

                        hr
                        h4.text-center Great Wall Transfer
                        if it.spot
                            for tt in it.spot
                                p.row
                                    span.col-md-3.text-right
                                        +carInput('spot',tt.price,tt.from,tt.to,tt.type)
                                    span.col-md-2 $#{tt.price}
                                    span.col-md-7.r0
                                        = tt.from
                                        != f.icon('resize-horizontal')
                                        = tt.to

                    .col-md-4
                        h4 NOTE
                        .note!= it.note
                    .col-md-12
                        a.btn.btn-block.btn-success.btn-small(href='#!/bookCar/#{it._id}' data-title=it.title) Select & Book
    script.
        _shows = '';

block st
    :coffee(bare=true,minify=true)
        cf.loadJS "#{cf.modPath}router.js", ->
            cf.loadJS "#{cf.modPath}car.js"