extends inc/main
block content
    h3 Dear #{firstName}

    p Thank you for choosing Wikibeijing, this is the service you've just booked from Wikibeijing. You will receive a confirmation mail by the time we confirm the deposit. Please email us directly if you want to do any modifications.

    table(style='margin:10px 20px;min-width:900px')
        tr
            td(width='50%' border=0)
                table
                    tr(style='line-height:35px')
                        th Total Travelers
                        td(style='text-align:right') #{totalNum} Pax
                    tr(style='line-height:35px')
                        th Free Child
                        td(style='text-align:right') #{freeChild} Pax
                    tr(style='line-height:35px')
                        th Tour Cost
                        td(style='text-align:right') #{tourCost} $
                    tr(style='line-height:35px')
                        td(colspan=2)
                            hr

                    each v,k in optionalService
                        tr(style='line-height:35px;vertical-align:top')
                            th= v.title
                            td(style='text-align:right')
                                each kk,vv in v
                                    if vv != 'title'
                                        div #{kk}$ x #{vv}
                        tr(style='line-height:35px')
                            th Optional Service Cost
                            td(style='text-align:right') #{optionalServiceCost} $
                        tr(style='line-height:35px')
                            td(colspan=2)
                                hr

                    tr(style='line-height:35px')
                        th Arrival Flight Number
                        td(style='text-align:right')=arrivalFlightNumber

                    tr(style='line-height:35px')
                        th Scheduled Landing Time
                        td(style='text-align:right')=scheduledLandingTime.toString().substr(0,24)

                    tr(style='line-height:35px')
                        th Departure Flight Number
                        td(style='text-align:right')=departureFlightNumber

                    tr(style='line-height:35px')
                        th Scheduled Takeoff Time
                        td(style='text-align:right')=scheduledTakeoffTime.toString().substr(0,24)

                    tr(style='line-height:35px')
                        th Airport Transfer Cost
                        td(style='text-align:right') #{airportTransferCost} $

                    tr(style='line-height:35px')
                        td(colspan=2)
                            hr

            td(width='50%' style='vertical-align:top')
                table
                    tr(style='line-height:35px')
                        th Primary Contact
                        td(style='text-align:right') #{firstName} #{lastName}

                    tr(style='line-height:35px')
                        th Email
                        td(style='text-align:right')=email

                    tr(style='line-height:35px')
                        th Date of tour
                        td(style='text-align:right')= tourDate.toString().substr(0,24)

                    tr(style='line-height:35px')
                        th Name of Hotel
                        td(style='text-align:right')= hotelName


                    tr(style='line-height:35px')
                        th Other Traveler
                        td(style='text-align:right')
                            for it in otherTraveler
                                div #{it.title} #{it.firstName} #{it.lastName}
                    tr(style='line-height:35px')
                        td(colspan=2)
                            hr

                    tr(style='line-height:35px')
                        th(colspan=2) Special Requirements
                    tr
                        td(colspan=2 style='padding: 10px;border:1px solid #ddd')=specialRequirement

                    tr(style='height: 30px')
                        td
                        td

                    tr(style='line-height:35px')
                        td(colspan=2 style='padding: 10px;border:1px solid #ddd')
                            strong Total
                            br
                            strong #{total} $

