extends inc/main

block content
    .topHead
        .panel
            .panel-heading
                h2= title
                    include inc/share

        if refFile
            -var _slides = refFile.slide || []
            -var _prop = 'slide'
            -var _h3 = title
            -var _p = subTitle
            include inc/slide

    article.panel
        .panel-heading
            h3 Introducing the #{title} #{pinYin ? '(' + pinYin + ')' : ''}
        .panel-body
            .article!= content

    .panel
        .panel-heading
            h3 Famous #{title} Restaurant In Beijing

    if restaurant
        #restaurant.panel-group
            each it,i in restaurant

                .panel
                    a.panel-heading(data-toggle='collapse', data-parent='#restaurant', href= '#cl' + i)
                        h4.panel-title
                            = it.title
                            .pull-right
                                != f.icon('menu-up')
                                != f.icon('menu-down')
                    .panel-collapse.collapse(id= 'cl' + i, class= i == 0 ? 'in' : '')
                        .panel-body
                            if it.refFile && it.refFile.ref
                                .col-md-6
                                    -var _slides = it.refFile.ref || []
                                    -var _sid = 'rest'+i
                                    -var _ctx = it
                                    -var _prop = 'ref'
                                    include inc/slide
                                .col-md-6.scrollBox(style='height:380px')!= it.content
                            else
                                .scrollBox(style='height:380px')!= it.content

    if recommend
        .col-md-12
            .row
                include inc/recommend