extends inc/main

block style
    :less(minify=true)
        .carousel-control{
            opacity: 0.2;
            &:hover{
                opacity: 1;
            }
        }

block content
    .panel
        .panel-heading
            h2= title
    for it, i in _items
        .panel
            .panel-heading
                h2= it.username
                    .pull-right
                        if it.refFile.licence
                            a.btn.btn-success.btn-xs.rh(onclick='cf.showPic(this)', data-url= f.resPath(c,it.refFile.licence[0])) Licence
                        if it.refFile.feedback && it.refFile.feedback.length
                            a.btn.btn-success.btn-xs(onclick='cf.showPic(this)', data-url=f.resPath(c,it.refFile.feedback[0]), data-list=it.refFile.feedback.join(',')) Feedback
            .panel-body
                .row
                    .col-md-3
                        != f.imgItem(it, c, 'guide')
                    .col-md-9
                        p= it.description
                        .contact
                            .col-md-5
                                != f.icon('phone',null,null,'rh')
                                | +86 #{it.phone}

                            .col-md-7
                                != f.icon('envelope',null,null,'rh')
                                != it.email
