extends inc/main

block slide
    - var _slides = top.list;
    - var _sid = 'indexSlide';
    #indexSlide.carousel.slide(data-ride='carousel', style='height:600px')
        -_seasons = ['Spring','Summer','Fall','Winter']
        .carousel-inner
            each it,i in _slides
                .item(class= i == 0 ? 'active' : '', style='height:600px')
                    .opc
                    .container.text-center
                        .rel
                            h3 Beijing In Four Seasons
                            .dropdown.btn
                                a(data-toggle="dropdown")
                                    span.seasonName
                                    span.glyphicon.glyphicon-menu-down
                                ul.dropdown-menu.season(data-season= it.refFile.pick || 0)
                                    each sn,ii in it.refFile.top
                                        li
                                            a(onclick='cf.changeSeason(this)', data-img= f.resPath(c,sn))= _seasons[ii]
                    .markImg
                        img
                    .carousel-caption
                        h3
                            a(href= it.href)= it.title
                        p= it.subTitle
                        a.btn.btn-primary.hoverLink(href=it.href title= it.title data-content= it.brief) See Details
                        a(href= it.href).popover
                            .arrow
                            h4.popover-title test
                            .content
                                != f.imgItem(it,c,'slide')
                                = it.brief

        include ../../inc/slideBtn

block content

    .panel
        .panel-heading
            h2 Introducing #{city.title}
        .panel-body
            .scrollBox(style='height:345px')!= city.description

    .pBoxList
        .row
            if head && head.list
                each it in head.list
                    div(class= it.cls)
                        .pBox
                            a(href= it.href)
                                != f.imgItem(it, c, 'top')
                                .text
                                    h4(style='font-size: 18px')= it.title
                                    p(style='font-size: 14px')= it.subTitle
                include inc/tours


            .col-md-3
                .panel.pBox.text-center.bold
                    .panel-heading
                        h3 Cars & Guides
                    ul.panel-body
                        each it in btm_cg
                            li
                                a(href= it.href)= it.title
            .col-md-3
                .panel.pBox.text-center.bold
                    .panel-heading
                        h3 Maps
                    ul.panel-body
                        each it in btm_map
                            li
                                a(href= it.href)= it.title
block st
    :coffee(bare=true,minify=true)
        cf.changeSeason = (e)->
            t = $(e)
            t.parent().addClass('active').siblings().removeClass('active')
            t.closest('ul').prev().find('.seasonName').text t.text()
            t.closest('.container').next().children().attr('src',t.data('img'))

        initSeasonPic = ->
            li = $(".item.active .season li:eq(#{+$('.season').data('season')})")
            li.children().trigger 'click'

        initSeasonPic()

        $('#indexSlide').on 'slid.bs.carousel', ->
            initSeasonPic()


        for it in $('.hoverLink')
            util.addHover $(it)





