extends inc/main

mixin rateAttr(it,name)
    .row
        .col-xs-6.p0=name.capAll()
        .col-xs-6.p0.starVal(class=name)=it[name]

block style
    :less(minify=true)
        hr {
            width: 90%;
            margin: 10px auto;
        }

        .panel-heading {
            h3 {
                margin: 8px 0;
            }
        }

        .panel-collapse {
            border-top: 1px solid #ddd;
            .showImg {
                height: 332px;
                overflow: hidden;
            }
        }

        #tourListCtn {
            .nav-tabs {
                a:hover {
                    background: transparent;
                }
                li.active {
                    background: transparent;
                    a {
                        border-bottom: 2px solid red !important;
                    }
                }
                li {
                    a {
                        border: 0 !important;
                    }
                }
            }
            .panel {
                ul {
                    margin: 0;
                }
                .nav-tabs {
                    padding: 0;
                    border-bottom: 1px solid #ddd;
                }
            }
        }

        .price {
            ul {
                padding: 0;
            }
        }

        .tab-content {
            h4 {
                text-align: center;
                margin: 20px;
            }
        }

        .dl-horizontal {
            margin-bottom:0;
            dt {
                line-height: 34px;
                width: 100px;
            }
            dd {
                line-height: 34px;
                margin-left: 120px;
            }
        }



        a {
            h3 {
                color: #111;
                span {
                    color: #0a4f9a;
                }
            }
        }

        .markImg {
            img {
                width: 100%;
            }
        }

        .itinerary {
            a {
                text-decoration: underline;
            }
        }

        .highlight {
            li {
                list-style-type: disc;
            }
        }

        .glyphicon {
            margin-right: 10px;
        }

        .glyphicon-ok {
            color: green;
        }

        .glyphicon-remove {
            color: red;
        }

        .glyphicon-menu-down, .glyphicon-menu-up {
            font-size: 10px;
            margin-left: 20px;
            margin-top: 5px;
        }

        .glyphicon-share-alt {
            color: green;
            margin: 0 20px;
        }

        .prices {
            width: 100%;
        }

        .prices th, .prices td {
            text-align: center;
            height: 60px;
            border-right: 1px solid white;
        }

        .tbHead {
            background: #b4cfec;
        }

        .tbBody {
            background: #d6e6f5;
        }

        .col-xs-6.p0 {
            width: 120px;
            font-size: 14px;
            line-height: 35px;
            font-weight: bold;
        }

        .avg {
            display: inline-block;
        }

        .btns {
            .btn {
                width: 200px;
            }
        }

block content
    .topHead
        .panel
            .panel-heading(data-title= title)
                h2 Private #{catMap[cat]} Tours In Beijing

    #tourListCtn.panel-group
        each it,i in items
            - it.priceRange = it.prices ? '$'+it.prices[1] + ' ~ $' + it.prices[9]: '$10 ~ $100'
            .panel
                a.panel-heading(data-toggle='collapse', data-parent='#tourListCtn', href= '#col' + i)
                    h3
                        -catt = it.cat.split(',')
                        -catt.remove('tour_gw')
                        -catt.remove('tour_fw')
                        span #{catMap[catt[0]]} Tour
                        != f.icon('share-alt')
                        = it.title
                        .pull-right
                            != f.icon('menu-down')
                            != f.icon('menu-up')
                        .btn.btn-xs.btn-success.pull-right(onclick="location.href='#!/bookTour/#{it._id}'") BOOK
                .panel-collapse.collapse(id= 'col' + i)
                    if it.refFile.head && it.refFile.head.length
                        .showImg
                            != f.img(f.resPath(c, it.refFile.head[0]))

                    ul.nav.nav-tabs.text-center
                        li.col-md-3.active
                            a(data-toggle='tab', href='#fact#{i}') Facts/Overview
                        li.col-md-3
                            a(data-toggle='tab', href='#itineray#{i}') Itinerary
                        li.col-md-3
                            a(data-toggle='tab', href='#price#{i}') Prices/Includes
                        li.col-md-3
                            a(data-toggle='tab', href='#photo#{i}') Photos
                        //li.col-md-3
                        //    a(data-toggle='tab', href='#review#{i}') Customer Reviews
                    .tab-content.clearfix
                        div(id='fact#{i}').tab-pane.active
                            .col-md-4
                                h4 Facts
                                dl.dl-horizontal
                                    dt Tour Code
                                    dd= it.code
                                    dt Tour Type
                                    dd= it.type
                                    dt Duration
                                    dd= it.duration
                                    dt Difficulty
                                    dd= it.difficulty
                                    dt Group Size
                                    dd= it.groupSize
                                    dt Price Range
                                    dd= it.priceRange
                                    dt Departs From
                                    dd= it.departFrom
                                    dt Returns To
                                    dd= it.returnTo
                                    dt Starts At
                                    dd= it.startAt
                                    dt Availability
                                    dd= it.availability
                            .col-md-8
                                h4 Overview
                                p!= it.description
                        div(id='itineray#{i}').tab-pane
                            .col-md-4
                                h4 Highlights
                                if it.highlight
                                    ul.highlight
                                        each hl in it.highlight
                                            li= hl
                            .col-md-8
                                h4 Itinerary
                                if it.itinerary
                                    ul.itinerary
                                        each lt in it.itinerary
                                            li
                                                if lt._id
                                                    a.hoverLink(href= "/#{lt._e || 'sight'}/#{lt._id}" title= lt.title,data-content= lt.brief)= lt.title
                                                    //a.popover(href= "/sight/#{lt._id}")
                                                    //    .arrow
                                                    //    h4.popover-title
                                                    //    .popover-content
                                                else
                                                    strong= lt.title
                                                p!= lt.brief

                        div(id='price#{i}').tab-pane.price
                            .col-md-4.text-left
                                h4 Inclusions
                                if it.inclusion
                                    ul
                                        each inc in it.inclusion
                                            li
                                                != f.icon('ok')
                                                = inc
                                h4 Exclusions
                                if it.exclusion
                                    ul
                                        each ex in it.exclusion
                                            li
                                                != f.icon('remove')
                                                = ex
                            .col-md-8
                                h4 Prices (USD)
                                if it.prices
                                    script.
                                        p_#{it._id} = !{JSON.stringify({title:it.title,code:it.code,prices:it.prices})};
                                    table.prices
                                        tr.tbHead
                                            th(width='160px') Number of people
                                            each p,i in it.prices
                                                td
                                                    input(data-price=p,data-count=i name='calc',type='radio')
                                                    br
                                                    = i
                                            th(rowspan='2')
                                                p Total
                                                span $
                                                span.total #{it.prices[0]}
                                        tr.tbBody
                                            th Price per Person ($)
                                            each p in it.prices
                                                td
                                                    span= p
                                p * Please select one option
                                if it.note
                                    p NOTE:
                                        != it.note

                        div(id='photo#{i}').tab-pane
                            if it.refFile && it.refFile.slide
                                - var _slides = it.refFile.slide
                                - var _prop = 'slide'
                                -var _ctx = it
                                -var _sid = 'ss'+i
                                include inc/slide

                        //div(id='review#{i}').tab-pane
                        //    .col-md-4
                        //        h4
                        //            span 100% REAL REVIEWS
                        //        p.well.well-sm(style='font-size: 14px;line-height: 24px;') In order to guarantee the 100% Authenticity of the reviews on wikibeijing, only the feedbacks from customers who have booked a tour from wikibeijing would be shown here. There is no need to put fake ratings on our site. The reviews in a way are valuable suggestions from the customers. We could learn something from them to perfect the itinerary and to choose the right guide, thus to provide better service in the future. Also, we only put the paper feedbacks from the clients in the section of Private Guides, to guarantee the authenticity of them. They are also ranked by the positive reviews from the customers and according alteration would be made according to their performances.
                        //
                        //
                        //    .col-md-8.pl0
                        //        h4 Customer Reviews
                        //        if it.rateOne
                        //            .ratingView
                        //                .well.well-sm.clearfix.mb
                        //                    div Rated by &nbsp;
                        //                        strong
                        //                            span.firstName=it.rateOne.firstName
                        //                            span.lastName=it.rateOne.lastName
                        //                        .pull-right.lastUpdated #{it.rateOne.lastUpdated.toString().substr(0, 24)}
                        //                    hr
                        //                    .content= it.rateOne.content
                        //                    hr
                        //                    .col-xs-6.text-right(style='padding-top: 4px;font-size: 18px;') Value For Money
                        //                    .col-xs-6.text-left.pl0
                        //                        .avg
                        //                    hr
                        //                    .starReview.mb2.clearfix
                        //                        .col-xs-6
                        //                            +rateAttr(it.rateOne,'tourArrangement')
                        //                            +rateAttr(it.rateOne,'guideAttitude')
                        //                            +rateAttr(it.rateOne,'guideService')
                        //                            +rateAttr(it.rateOne,'guideCompetence')
                        //                        .col-xs-6
                        //                            +rateAttr(it.rateOne,'vehicleCondition')
                        //                            +rateAttr(it.rateOne,'drivingSkill')
                        //                            +rateAttr(it.rateOne,'foodQuality')
                        //                            +rateAttr(it.rateOne,'overallEvaluation')
                        //
                        //
                        //        p.text-center
                        //            a(style='margin-right: 50px' onclick='cf.rate(this)' tid=it._id).btn.btn.btn-success Add Review
                        //            a.btn.btn.btn-info(onclick='cf.showRatingMore(this)' tid=it._id) View More

                    p.text-center.btns(style='padding-top:10px')
                        a(style='margin-right: 50px',onclick='cf.showEnquire(this)').btn.btn-warning.btn-xs Enquire
                        a.btn.btn-success.btn-xs(href='#!/bookTour/#{it._id}') Book

    script.
        _shows = !{JSON.stringify(shows)};

block st
    :coffee(bare=true minify=true)
        util.lcss "#{cf.modPath}tour.css?c=1"
        cf.loadJS "#{cf.modPath}tour.js"
//            $('#tourListCtn .panel-heading:first').trigger 'click'