+title(title, subTitle).hidden-xs
.row
    != f.imgItem(locals, c)
+title(title, subTitle).hidden-sm.hidden-md.hidden-lg

.article-content
    if content
        != content.replaceAll('_cImg" src', '_cImg" bb-src')
    if biContent
        .biText
            each it in biContent
                p(class=it.cat)
                    if it.en
                        span.en=it.en
                    if it.zh
                        br
                        span(style='color:orangered').zh=it.zh


//if book
//    +userInfo(translater)
//hr

if translator
    h3 译者
    each u in translator
        +userInfo(u)

//if reviewer
//    h3 审阅
//    +userInfo(reviewer)

if group
    h3= group.title
    p: small= group.idea
    div!= group.content
    != f.imgItem(group, c, 'qrcode')

p.text-right 发表于 #{pubTime.pattern()}

if !source
    != f.copyRight(c, 'post', _id)
    #_comments
