extends ../../../main
block ctn
    mixin panel(title)
        if !attributes.class
            -attributes.class='col-md-4'
        if !attributes.pClass
            -attributes.pClass='panel-default'
        div(class=attributes.class)
            div(class='panel ' + attributes.pClass + '')
                .panel-heading
                    h3.panel-title= title
                .panel-body
                    if block
                        block
    mixin media(posts,opt)
        if !opt.ttLimits
            -opt.ttLimits= 12
        if !opt.ctLimit
            -opt.ctLimit= 24
        if !opt.singleR
            -opt.singleR= false
        each it in posts
            .media
                if !opt.singleR
                    .media-left
                        != f.imgItem(it, c, 'slide', 'media-object')
                else
                    != f.imgItem(it, c, 'slide', 'media-object')
                .media-body
                    a(href='/#{it._e}?id=#{it._id}',target='_blank'): h4.media-heading!= f.dStr(it.title, opt.ttLimits)
                    p!= f.dStr(it.description, opt.ctLimit) + '...'
    mixin searchPanel(action,method,name)
        .panel-search
            if !action
                -action=''
            if !method
                method=''
            if !name
                name=''
            form(action=action,method=method,name=name)
                if block
                    block
                .submit-panel-search
                    input.btn.btn-primary.btn-sunmit-spanel(value='搜索',type='submit')
    mixin serItem(opt)
        each it in opt.titles
            .item-li-spanel
                if !opt.radio
                    input.check-li-spanel(type='checkbox',name='#{opt.name}')
                else
                    input.check-li-spanel(type='radio',name='#{opt.name}')
                span.tip-li-spanel= it
    mixin serSubItem(opt)
        each it in opt.titles
            .item-child-spanel
                if !opt.radio
                    input.check-child-spanel(type='checkbox',name='')
                else
                    input.check-child-spanel(type='radio',name='')
                span.tip-child-spanel= it
    body
        .container
            header.row
                .col-md-12
                    .row
                        .col-md-4.pull-right
                            ul.list-inline.pull-right.l-login
                                li
                                    a(href='') 登录
                                span /
                                li
                                    a(href='') 注册
                    .row
                        .col-md-7.logo
                            h1
                                a(href='/')
                                    img.img-responsive(src='#{resPath}images/logo_03.png', alt='')
                            p 聆听在线--最好用的听力健康平台
                        .col-md-5.block-search-hder
                            span.tip-search 站内搜索
                            input.itxt-search(name='', type='text', placeholder='', value='')
                            input.btn-search(type='button')
            nav.row
                ul.col-md-7.l-nav.list-inline
                    each it in c.nav
                        li.li-nav
                            a(href='#{it.href}')= it.label
                            if it.children
                                ul.l-subnav
                                    each item in it.children
                                        li.li-subnav
                                            a(href='#{item.href}')= item.label
                ul.col-md-4.l-search.list-inline.p0.text-left
                    .block-panel-search
                        #sConsultant
                        #sShop
                        #sProduct
                    li
                        a.btn.btn-success(stag="#sProduct" ) 找助听器
                    li
                        a.btn.btn-danger(stag="#sConsultant" ) 找验配师
                    li
                        a.btn.btn-warning(stag="#sShop" ) 找中心
                a.btn.btn-primary.pull-right(style='margin:-42px 10px 0 0') 找到&nbsp;
                    strong.text-danger#resCount 0
                    | &nbsp;个结果
            #content.row
            #static
                block content
                .col-md-7.intro-ft
                    p
                        | 全国助听器验配师网
                        br
                        | 400-0688-153
                        br
                        a(target='_blank', href='http://www.earmedicalmap.com') http://www.earmedicalmap.com
                .col-md-2.attention-ft
                    h5.title-ft-attention 关注我们
                    ul.l-ft-attention
                        li.li-ft-attention
                            a 广告服务
                        li.li-ft-attention
                            a 联系我们
                        li.li-ft-attention
                            a 免责声明
                .col-md-3.share-ft
                    h5.title-ft-attention 关注我们
                    ul.l-ft-share
                        li.li-ft-share
                            a
                                img.img-responsive(src='#{resPath}images/icon-share_25.png', alt='')
                        li.li-ft-share
                            a
                                img.img-responsive(src='#{resPath}images/icon-share_27.png', alt='')
                        li.li-ft-share
                            a
                                img.img-responsive(src='#{resPath}images/icon-share_29.png', alt='')