extends ../../../main
include ../../../inc/mixin

block append js
    if mob
    else
        script(src='#{libPath}router.js')

block ctn
    //mixin thumbnail(opt,name, tag)
    //    if !name
    //        -name='id'
    //    if !tag
    //        -tag = 'div'
    //    #{tag}&attributes(attributes)
    //        if block
    //            block
    //        else
    //            .thumbnail!= f.imgItem(opt, c, name)
    body(data-wid= wt.appId data-wcode= wt.code class=index + '_')
        .container.topLogo
            #header
                .row
                    .col-md-8.logo
                        h1
                            a(href='/'): img.img-responsive(src='#{resPath}images/logo_03.png', alt='')
                        p 聆听在线-最好用的听力健康平台
                            small &nbsp;400-0688-153
                    .col-md-4
                        ul#topBar.list-inline.pull-right
                        .block-search-hder
                            input#q.form-control(name='q', type='text', placeholder='站内搜索')
                            .btn-search

        .navbar.navbar-default
            .container
                .navbar-header
                    +mobBtn('#navBox')
                    .searchBox
                        a.btn.btn-danger.showBtn
                            != f.icon('search')
                            | 听力搜索专家
                        #searchPanel.list-group.l-search
                            h3.list-group-item 助听器行业搜索神器
                            a.list-group-item(stag="#sProduct" )
                                != f.icon('th')
                                | 查找助听器品牌
                                != f.icon('chevron-right')
                            a.list-group-item(stag="#sShop" )
                                != f.icon('home')
                                | 查找助听器中心
                                != f.icon('chevron-right')
                            a.list-group-item(stag="#sConsultant" )
                                != f.icon('user')
                                | 查找专业验配师
                                != f.icon('chevron-right')
                            a.list-group-item(stag="#sSchool" )
                                != f.icon('education')
                                | 查找语训康复学校
                                != f.icon('chevron-right')
                            .block-panel-search
                                #sConsultant
                                #sShop
                                #sProduct
                                #sSchool
                #navBox.collapse.navbar-collapse
                    +nav(c.nav)#nav.nav.navbar-nav
        .container
            #content.row
            #static.row(class=index)
                block content
        .container
            #footer.row.mt
                .col-md-7.intro
                    p
                        | 免费咨询电话
                        br
                        | 400-0688-153
                        br
                        a(target='_blank', href='http://www.lingtingonline.com') www.lingtingonline.com
                .col-md-2.attention
                    h5 关于我们
                    ul.l-attention
                        li
                            a 广告服务
                        li
                            a 联系我们
                        li
                            a 免责声明
                .col-md-3.share
                    h5 关注我们
                    ul.l-share
                        li
                            a
                                img.img-responsive(src='#{resPath}images/icon-share_25.png', alt='')
                        li
                            a
                                img.img-responsive(src='#{resPath}images/icon-share_27.png', alt='')
                        li
                            a
                                img.img-responsive(src='#{resPath}images/icon-share_29.png', alt='')

block commonjs
    if mob
        :coffee(bare=true,minify=true)
            cf.loadJS "#{cf.modPath}search.js"

            ls = $('.l-search')
            bps = $('.block-panel-search')

            $('.searchBox').prepend $('h1 img')
            nav = $('#navBox')
            nav.prepend $('.block-search-hder')
            nav.prepend '<hr/>'
            nav.prepend $('.logo p')

            nav.find('.dropdown-menu').removeClass('dropdown-menu')

            $('.showBtn').attr
                'data-toggle': 'collapse'
                'data-target': '#searchPanel'

            ls.find('a').click (e)->
                util.setActive(e)
                $('.showBtn').trigger 'click'
                cf[$(this).attr('stag').substr(1)]()
    else
        :coffee(bare=true,minify=true)
            ls = $('.l-search')
            bps = $('.block-panel-search')

            $('.searchBox').hover ->
                if cf._sbTimer
                    clearTimeout cf._sbTimer
                ls.show()
            , ->
                cf._sbTimer = setTimeout ->
                    ls.hide()
                , 1000

            ls.hover ->
                if cf._bpTimer
                    clearTimeout cf._bpTimer
                $(this).find('.block-panel-search').show()
            , ->
                cf._bpTimer = setTimeout =>
                    $(this).find('.block-panel-search').hide()
                , 1000


            ls.find('a').hover (e)->
                util.setActive(e)
                ls.find("#{$(this).attr('stag')}").show().siblings().hide()
            , ->
                log 'left'

