extends ../../../main

block ctn
    mixin panel(title)
        if !attributes.class
            -attributes.class='col-md-4'
        if !attributes.pClass
            -attributes.pClass='panel-default'
        div(class=attributes.class)
            div(class='panel '+attributes.pClass+'')
                .panel-heading
                    h3.panel-title= title
                .panel-body.itemPanel
                    if block
                        block

    mixin media(posts,ttLimits,ctLimit)
        if !ttLimits
            -ttLimits = 12
        if !ctLimit
            -ctLimit = 24
        each it in posts
            .media
                //.media-left
                != f.imgItem(it,c,'slide','media-object')
                .media-body
                    a(href='/#{it._e}?id=#{it._id}',target='_blank'): h4.media-heading!= f.dStr(it.title , ttLimits)
                    p!= f.dStr(it.description, ctLimit)+'...'
    body
        .container
            header.row
                .col-md-12
                    .row
                        .col-md-4.pull-right
                            ul.list-inline.pull-right.l-login
                                li
                                    a(href='') 登录
                                span /
                                li
                                    a(href='') 注册
                    .row
                        .col-md-7.logo
                            h1
                                a(href='/')
                                    img.img-responsive(src='#{resPath}images/logo_03.png', alt='')
                            p 聆听在线--最好用的听力健康平台
                        .col-md-5.block-search-hder
                            span.tip-search 站内搜索
                            input.itxt-search(name='', type='text', placeholder='', value='')
                            input.btn-search(type='button')
            nav.row
                ul.col-md-8.pull-left.l-nav
                    each it in _guest[0].res.menu
                        li.li-nav
                            a(href='#{it.href}')= it.label
                            if it.subnav
                                ul.l-subnav
                                    each item in it.subnav
                                        li.li-subnav
                                            a(href='#{item.href}')= item.label
                    li.mask-active-nav
                ul.col-md-4.pull-right.l-search
                    .block-panel-search
                        //a.close-panel-search(href='javascript:void(0);')
                        span.glyphicon.glyphicon-remove.js-close-search(aria-hidden='true')
                        .panel-search 333
                            .submit-panel-search
                                input.btn.btn-primary.btn-sunmit-spanel(value='搜索',type='submit')
                        .panel-search
                            form(action='',method='',name='')
                                ul.l-panel-ser
                                    li.li-panel-ser
                                        h4.title-li-spanel 评定星级：
                                        .content-li-spanel
                                    li.li-panel-ser
                                        h4.title-li-spanel 从业时间：
                                        .content-li-spanel
                                            .item-li-spanel
                                                input.check-li-spanel(type='checkbox',name='')
                                                span.tip-li-spanel 10年以上
                                            .item-li-spanel
                                                input.check-li-spanel(type='checkbox',name='')
                                                span.tip-li-spanel 5-10年
                                            .item-li-spanel
                                                input.check-li-spanel(type='checkbox',name='')
                                                span.tip-li-spanel 1-5年
                                    li.li-panel-ser
                                        h4.title-li-spanel 工作职称：
                                        .content-li-spanel
                                            .item-li-spanel
                                                input.check-li-spanel(type='checkbox',name='')
                                                span.tip-li-spanel 二级验配师（最高）
                                            .item-li-spanel
                                                input.check-li-spanel(type='checkbox',name='')
                                                span.tip-li-spanel 三级验配师
                                            .item-li-spanel
                                                input.check-li-spanel(type='checkbox',name='')
                                                span.tip-li-spanel 四级验配师
                                    li.li-panel-ser
                                        h4.title-li-spanel 专业特长：
                                        .block-hd-spanel
                                            .content-li-spanel
                                                .multiple-hd-spanel
                                                    input.check-li-spanel(type='checkbox',name='')
                                                    span.tip-mul-spanel 多特长
                                                    span.arrow-multiple-spanel.up
                                        .block-bd-spanel
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 成人助听器验配
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 儿童助听器验配
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 听力咨询
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 康复指导
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 声场评估
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 真耳分析
                                    li.li-panel-ser
                                        h4.title-li-spanel 所学专业：
                                        .content-li-spanel
                                .submit-panel-search
                                    input.btn.btn-primary.btn-sunmit-spanel(value='搜索',type='submit')
                        .panel-search
                            form(action='',method='',name='')
                                ul.l-panel-ser
                                    li.li-panel-ser
                                        h4.title-li-spanel 评定星级：
                                        .content-li-spanel
                                    li.li-panel-ser
                                        h4.title-li-spanel 经营时间：
                                        .content-li-spanel
                                            .item-li-spanel
                                                input.check-li-spanel(type='checkbox',name='')
                                                span.tip-li-spanel 10年以上
                                            .item-li-spanel
                                                input.check-li-spanel(type='checkbox',name='')
                                                span.tip-li-spanel 5-10年
                                            .item-li-spanel
                                                input.check-li-spanel(type='checkbox',name='')
                                                span.tip-li-spanel 1-5年
                                    li.li-panel-ser
                                        h4.title-li-spanel 营业面积：
                                        .content-li-spanel
                                            .item-li-spanel
                                                input.check-li-spanel(type='checkbox',name='')
                                                span.tip-li-spanel 200㎡以上
                                            .item-li-spanel
                                                input.check-li-spanel(type='checkbox',name='')
                                                span.tip-li-spanel 100-200㎡
                                            .item-li-spanel
                                                input.check-li-spanel(type='checkbox',name='')
                                                span.tip-li-spanel 60-100㎡
                                            .item-li-spanel
                                                input.check-li-spanel(type='checkbox',name='')
                                                span.tip-li-spanel 60㎡以下
                                    li.li-panel-ser
                                        .content-li-spanel.notitle-li-spanel
                                            .item-li-spanel
                                                input.check-li-spanel(type='checkbox',name='')
                                                span.tip-li-spanel 可停车
                                            .item-li-spanel
                                                input.check-li-spanel(type='checkbox',name='')
                                                span.tip-li-spanel 可上门服务
                                    li.li-panel-ser
                                        .block-hd-spanel
                                            h4.title-li-spanel 经营品牌：
                                            .content-li-spanel
                                                .multiple-hd-spanel
                                                    input.check-li-spanel(type='checkbox',name='')
                                                    span.tip-mul-spanel 多品牌
                                                    span.arrow-multiple-spanel.up
                                        .block-bd-spanel
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 丹麦奥迪康
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 丹麦瑞芬达
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 丹麦唯听
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 瑞士峰力
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 瑞士博瑞峰
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 加拿大优利康
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 德国西门子
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 新加坡欧仕达
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 美国斯达克
                                            .item-child-spanel
                                                input.check-child-spanel(type='checkbox',name='')
                                                span.tip-child-spanel 美国斯丽声
                                .submit-panel-search
                                    input.btn.btn-primary.btn-sunmit-spanel(value='搜索',type='submit')
                    li.li-search
                        a(href='javascript:void(0);') 找品牌/型号
                    li.li-search
                        a(href='javascript:void(0);') 找HA验配师
                    li.li-search
                        a(href='javascript:void(0);') 找HA中心
            block content
            footer.row
                .col-md-7.intro-ft
                    p
                        | 全国助听器验配师网
                        br
                        | 400-0688-153
                        br
                        a(target='_blank', href='http://www.earmedicalmap.com') http://www.earmedicalmap.com
                .col-md-2.attention-ft
                    h5.title-ft-attention 关注我们
                    ul.l-ft-attention
                        li.li-ft-attention
                            a(href='javascript:void(0);') 广告服务
                        li.li-ft-attention
                            a(href='javascript:void(0);') 联系我们
                        li.li-ft-attention
                            a(href='javascript:void(0);') 免责声明
                .col-md-3.share-ft
                    h5.title-ft-attention 关注我们
                    ul.l-ft-share
                        li.li-ft-share
                            a(href='javascript:void(0);')
                                img.img-responsive(src='#{resPath}images/icon-share_25.png', alt='')
                        li.li-ft-share
                            a(href='javascript:void(0);')
                                img.img-responsive(src='#{resPath}images/icon-share_27.png', alt='')
                        li.li-ft-share
                            a(href='javascript:void(0);')
                                img.img-responsive(src='#{resPath}images/icon-share_29.png', alt='')

block st
    :coffee(bare=true,minify=true)
        #nav hover
        $('.li-nav').hover (->
            $(this).addClass 'active'
            $(this).find('.l-subnav').show();
        ), ->
            $(this).removeClass 'active'
            $(this).find('.l-subnav').hide();

        #search hover
        $('.li-search').mouseenter (->
            ndx = $(this).index()-1
            $(this).addClass('active').siblings('.li-search').removeClass('active');
            $('.panel-search').hide();
            $('.panel-search:eq('+ndx+')').show();
            $('.block-panel-search').show();
        )

        #close search
        $('.js-close-search').click(->
            $('.li-search').removeClass 'active'
            $('.block-panel-search').hide()
        )
        $('.js-close-search').hover(->
            $(this).addClass 'hover-close-search'
        ,->
            $(this).removeClass 'hover-close-search'
        )

        #checkTip trigger
        $('.tip-li-spanel ').click ->
            cJudge = $(this).siblings('.check-li-spanel').prop('checked')
            if !cJudge
                $(this).siblings('.check-li-spanel').prop 'checked', true
            else
                $(this).siblings('.check-li-spanel').prop 'checked', false
            return

        #mutiple toogle
        $('.multiple-hd-spanel').find('.tip-mul-spanel').click ->
            sJudge = $(this).parents('.li-panel-ser').find('.block-bd-spanel').is(':visible')
            if !sJudge
                $(this).parents('.multiple-hd-spanel').addClass 'active'
                $(this).parents('.li-panel-ser').find('.block-bd-spanel').show()
                $(this).siblings('.arrow-multiple-spanel').removeClass('up').addClass('down')
            else
                $(this).parents('.multiple-hd-spanel').removeClass 'active'
                $(this).parents('.li-panel-ser').find('.block-bd-spanel').hide()
                $(this).siblings('.arrow-multiple-spanel').removeClass('down').addClass('up');
            return

        $('.arrow-multiple-spanel').click ->
            $('.multiple-hd-spanel').find('.tip-mul-spanel').trigger 'click'
            return

        #mutiple check
        $('.multiple-hd-spanel').find('.check-li-spanel').click ->
            cJudge = $(this).prop('checked')
            if !cJudge
                $(this).parents('.li-panel-ser').find('.block-bd-spanel').find('.check-child-spanel').prop('checked',false)
            else
                $(this).parents('.li-panel-ser').find('.block-bd-spanel').find('.check-child-spanel').prop('checked',true)
            return

        #mutiple check:children
        $('.tip-child-spanel').click ->
            $(this).siblings('.check-child-spanel').trigger 'click'

        $('.check-child-spanel').click ->
            $scope = $(this).parents('.block-bd-spanel')
            allCheck = allJudge($scope).allCheck
            if allCheck
                $('.multiple-hd-spanel .check-li-spanel:visible').prop 'checked', true
            else
                $('.multiple-hd-spanel .check-li-spanel:visible').prop 'checked', false
            return

        allJudge = ($scope) ->
            alJudge = {}
            allCheck = true
            allUn = true
            $scope.find('.check-child-spanel').each ->
                if $(this).prop('checked')
                    allUn = false
                else
                    allCheck = false
                return
            alJudge.allCheck = allCheck
            alJudge.allUn = allUn
            alJudge
