extends ../../../main
block ctn
    mixin panel(title)
        if !attributes.class
            -attributes.class='panel panel-default'
        div&attributes(attributes)
            .panel-heading
                h3.panel-title= title
            .panel-body
                if block
                    block
    mixin media(posts,opt)
        if !opt.ttLimits
            -opt.ttLimits= 12
        if !opt.ctLimit
            -opt.ctLimit= 24
        if !opt.singleR
            -opt.singleR= false
        each it in posts
            a.media.media_left.clearfix(href='/#{it._e}/#{it._id}',target='_blank')
                if !opt.singleR
                    .media-left
                        != f.imgItem(it, c, 'slide', 'media-object')
                else
                    != f.imgItem(it, c, 'slide', 'media-object')
                .media-body
                    h4.media-heading!=it.title || it.username
                    != f.dStr(it.description || it.address, 20)
    body
        .container
            header.row.hidden-xs
                .col-md-12
                    .row
                        .col-md-4.pull-right
                            ul.list-inline.pull-right.l-login
                                li
                                    a(href='') 登录
                                span /
                                li
                                    a(href='') 注册
                            .clearfix
                    .row
                        .col-md-7.logo
                            h1
                                a(href='/'): img.img-responsive(src='#{resPath}images/logo_03.png', alt='')
                            p 聆听在线--最好用的听力健康平台
                        .col-md-5.block-search-hder.pl170.mt10
                            input.itxt-search(name='', type='text', placeholder='站内搜索')
                            input.btn-search(type='button')
            nav.navbar.navbar-default
                .container-fluid
                    .navbar-header
                        button.navbar-toggle(type='button',data-toggle='collapse',data-target='#bs-example-navbar-collapse-1',aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        .searchBox
                            .navbar-brand
                                a.btn.btn-danger
                                    != f.icon('search')
                                    | 听力搜索专家
                            #searchPanel.list-group.l-search
                                h3.list-group-item 您找到了&nbsp;
                                    strong.text-danger#resCount 0
                                    | &nbsp;个结果
                                a.list-group-item(stag="#sProduct" )
                                    != f.icon('home')
                                    | 找助听器中心
                                    != f.icon('chevron-right')
                                a.list-group-item(stag="#sProduct" )
                                    != f.icon('education')
                                    | 找康复学校
                                    != f.icon('chevron-right')
                                a.list-group-item(stag="#sConsultant" )
                                    != f.icon('user')
                                    | 找验配师
                                    != f.icon('chevron-right')
                                a.list-group-item(stag="#sShop" )
                                    != f.icon('th')
                                    | 找听力中心
                                    != f.icon('chevron-right')
                                .block-panel-search
                                    #sConsultant
                                    #sShop
                                    #sProduct
                    .collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
                        ul#nav.nav.navbar-nav
                            each it in c.nav
                                if it.children && it.children != []
                                    li.dropdown
                                        a.dropdown-toggle(data-toggle='dropdown',role='button',aria-haspopup='true',aria-expanded='false')= it.label
                                            span.caret
                                        ul.dropdown-menu
                                            each item in it.children
                                                li
                                                    a(href='#{item.href}')= item.label
                                else
                                    li
                                        a(href='#{it.href}')= it.label
            #content.row
            #static
                block content
            footer
                .col-md-7.intro
                    p
                        | 全国助听器验配师网
                        br
                        | 400-0688-153
                        br
                        a(target='_blank', href='http://www.earmedicalmap.com') http://www.earmedicalmap.com
                .col-md-2.attention
                    h5 关于我们
                    ul.l-attention
                        li
                            a 广告服务
                        li
                            a 联系我们
                        li
                            a 免责声明
                .col-md-3.share
                    h5 关注我们
                    ul.l-share
                        li
                            a
                                img.img-responsive(src='#{resPath}images/icon-share_25.png', alt='')
                        li
                            a
                                img.img-responsive(src='#{resPath}images/icon-share_27.png', alt='')
                        li
                            a
                                img.img-responsive(src='#{resPath}images/icon-share_29.png', alt='')